{% extends 'base.html'%}
{% load crispy_forms_tags%}


{%block content%}

<div class="container">
    <div class="row">
            <!-- <img src="/static/bg1.jpg" alt=""> -->
        <div class="col-md-2 ">
            
        </div>
        <div class="col-md-8 signup text-center mt-5 ">
            <h1 class= 'logo'>My-Insta</h1>
            <p style="font-weight: 600;" class = "signuph">Sign-In to see photos from your friends</p>
            <form method="post" id = 'mysignup'>
                {% csrf_token %}
               
                {% for field in form%}
                <p>
                    <small>{{ field.label_tag }}</small> <br>
                    <span id = 'field'>{{ field }}</span>
                    <br>
                
                    <!-- {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %} -->
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
             {% endfor %} 
                <button type="submit" class="btn btn-primary btn-lg " >Sign In</button>
                <p>Need an  an account?<a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
            
        </div>
        <div class="col-md-2 ">
            
        </div>
    </div>
</div>

{%endblock%}
