{% extends 'base.html'%}

{%block content%}
{%include 'navbar.html'%}



              <form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <fieldset class="form-group">
                    {{form}}
                    </fieldset>
                    <div class="form-group">
                        <a href="{% url 'post' %}">
                          <button class="btn btn-outline-info" type="submit">Post</button>
                        </a>
                    </div>
                </form>            
           

{%endblock%}
    
    