<nav class="navbar navbar-expand-lg navbar-light" style = " padding-top:1%;border-bottom-color: rgb(202, 196, 196);padding-bottom:1%; padding-left:8%; padding-right: 8%;" >
    <a class="navbar-brand"  href = "{%url 'home'%}"><i class="fab fa-instagram" aria-hidden="true" style = "font-size: 25px"></i><span style= "font-size:30px; "> | </span><span class = "logo" style= "font-size:30px; ">My_Insta</span></a>
   
        <div class="ml-auto" id="navbarNav" >
          <ul class="navbar-nav ">
                <!-- <form class="form-inline">
                   
                    <input class="form-control form-control-lg w-150 text-center" type="text" placeholder="Search"
                            aria-label="Search">
                </form> -->
                <form class="form-inline">
                    <input class="form-control mr-lg-2 text-center w-150" style= "font-size:18px; padding-right:-2%; " type="search" placeholder="Search" aria-label="Search">
                 
                </form>
        </ul>
        </div>
      
        
        
          
          <div class="ml-auto" id="navbarNav" >
            <ul class="navbar-nav ml-auto">
             
                <li class="nav-item">
                    <a class=" btn  btn-sm" href="{% url 'post'%}" title = "add picture" style= "font-size:30px; "><i class="fas fa-plus-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class=" btn btn-sm" href="{%url 'my_profile'%}" title="profile" style= "font-size:30px;">
                        <svg aria-label="Profile" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><g><path d="M24 27c-7.1 0-12.9-5.8-12.9-12.9s5.8-13 12.9-13c7.1 0 12.9 5.8 12.9 12.9S31.1 27 24 27zm0-22.9c-5.5 0-9.9 4.5-9.9 9.9s4.4 10 9.9 10 9.9-4.5 9.9-9.9-4.4-10-9.9-10zM44 46.9c-.8 0-1.5-.7-1.5-1.5V42c0-5-4-9-9-9h-19c-5 0-9 4-9 9v3.4c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V42c0-6.6 5.4-12 12-12h19c6.6 0 12 5.4 12 12v3.4c0 .8-.7 1.5-1.5 1.5z"></path></g></svg>
                     </a>
                </li>
                <li class="nav-item">
                  <a class=" btn btn-sm" href="{%url 'logout'%}" title="logout" style= "font-size:30px;"><i class="fa fa-sign-out"></i> </a>
                </li>
                          
           
            
            </ul>
          </div>
        
      </nav>







<!-- <nav class="navbar navbar-expand-md navbar-light" style = "background-color:#ffffff" >

    <a class="navbar-brand logo" style= "font-size:30px; color:black" href = ""><i class="fas fa-camera-retro"></i>|My_Insta</a>
    <div class="" id="navbarNav" >
        <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-md ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
        </form>
      
    </div>
  
    
      
      <div class=" " id="navbarNav" >
        <ul class="navbar-nav mr-auto">
         
          
          <li class="nav-item">
            <a class=" btn  btn-sm" href="#" title = "add picture" style= "font-size:25px; "><i class="fas fa-plus-circle"></i></a>
          </li>
          <li class="nav-item">
              <a class=" btn btn-sm" href="" title="profile" style= "font-size:25px; "><i class="far fa-user"></i> </a>
          </li>
          
          
         
        </ul>
      </div>
    
  </nav> -->