<nav class="navbar navbar-expand-lg navbar-light" style = " padding-top:1%;border-bottom-color: rgb(202, 196, 196);padding-bottom:1%; padding-left:8%; padding-right: 8%;" >
    <a class="navbar-brand"  href = "{%url 'home'%}"><i class="fas fa-camera-retro" style= "font-size:25px; "></i><span style= "font-size:30px; "> | </span><span class = "logo" style= "font-size:30px; ">My_Insta</span></a>
   
        <div class="ml-auto" id="navbarNav" >
          <ul class="navbar-nav ">
                <!-- <form class="form-inline">
                   
                    <input class="form-control form-control-lg w-150 text-center" type="text" placeholder="Search"
                            aria-label="Search">
                </form> -->
                <form class="form-inline">
                    <input class="form-control mr-lg-2 text-center w-150" style= "font-size:18px; padding-right:-2%; " type="search" placeholder="Search" aria-label="Search">
                 
                </form>
        </ul>
        </div>
      
        
        
          
          <div class="ml-auto" id="navbarNav" >
            <ul class="navbar-nav ml-auto">
             
                <li class="nav-item">
                    <a class=" btn  btn-sm" href="#" title = "add picture" style= "font-size:30px;margin-right: 3%; "><i class="fas fa-plus-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class=" btn btn-sm" href="{%url 'profile'%}" title="profile" style= "font-size:30px;"><i class="far fa-user"></i> </a>
                </li>
                          
           
            
            </ul>
          </div>
        
      </nav>







<!-- <nav class="navbar navbar-expand-md navbar-light" style = "background-color:#ffffff" >

    <a class="navbar-brand logo" style= "font-size:30px; color:black" href = ""><i class="fas fa-camera-retro"></i>|My_Insta</a>
    <div class="" id="navbarNav" >
        <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-md ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
        </form>
      
    </div>
  
    
      
      <div class=" " id="navbarNav" >
        <ul class="navbar-nav mr-auto">
         
          
          <li class="nav-item">
            <a class=" btn  btn-sm" href="#" title = "add picture" style= "font-size:25px; "><i class="fas fa-plus-circle"></i></a>
          </li>
          <li class="nav-item">
              <a class=" btn btn-sm" href="" title="profile" style= "font-size:25px; "><i class="far fa-user"></i> </a>
          </li>
          
          
         
        </ul>
      </div>
    
  </nav> -->