{% extends 'base.html'%}

{%block content%}
{%include 'navbar.html'%}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="{{user.profile.profile_pic.url}}" alt="" class="img-circle" style = "width:100px;height: 100px; border:solid; border-color:rgb(223, 156, 169)">
        </div>
        <div class="col-md-8">
            <h1 style ="font-weight: 800; font-size: 35px;">{{user.username}}</h1>
            <br>
         <a class = "btn btn-lg btn-block" style = "border: solid; border-color: rgb(202, 196, 196); border-width:1px;height:40px; font-size:20px;">Edit Profile</a>
        </div>
    </div>
   
</div>
<br>
<div class="container">
    <div class = 'bio'>
        <h3 class = "profilename"  style= " font-weight: 900;">Esther Wacuka</h3>
        <h3>Just pics not my absolute reality</h3>
    </div>
       
</div>



{%endblock%}