{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

{%include 'navbar.html'%}

<div class="container updateprofile">

    <div class="row">
        <div class="col-md-2">
        
        </div>
        <div class="col-md-6">
            <form action="" method="POST" enctype="multipart/form-data" class = "form2">
                {% csrf_token %}
                <fieldset class="form-group">
                <label for="" class="border-bottom mb-4 text-center">Edit profile</label>
                {{user_form|crispy}}
                {{profile_form|crispy}}
                </fieldset>
                <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>  
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


{% endblock %}